.card {
  padding: 100px;
  margin: 20px;
  width: 50%;
  background-color: rgb(248, 244, 244);
}

.formField {
  width: 500px;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: white;
}

.button {
  display: table-cell;
  width: 490px;
}
